# IDE-specifika filer
.idea/                
*.iml                 
*.ipr
*.iws
.classpath            
.project              
.settings/            
.vscode/              

# Bytecode och kompilerade filer
*.class

# Loggar och systemfiler
*.log
*.tmp
*.DS_Store            
Thumbs.db            
*.swp 
